body {
  width: auto;
  height: 100%;
  background: url("bg.jpeg"), transparent;
}

h1 {
  text-align: center;
  color: aliceblue;
  font-family: fantasy;
  font-size: 50px;
}

p {
  color: aliceblue;
  font-size: 25px;
  text-align: center;
}

input {
  font-size: 20px;
  padding: 5px;
}

.heads {
  margin-top: 5%;
  margin-bottom: auto;
  background-color: transparent;
}

.container {
  justify-items: center;
  background-color: transparent;
}
